
.bgimage {
    /* background-image: url('/src/Assets/jazmin-quaynor-8ioenvmof-I-unsplash.jpg'); */
    height:60vh;
    width: 100%;
    position: relative;
    text-align: center;
    background: linear-gradient(rgba(0,123,255,.05),rgba(0,0,0,.05)),50%/cover no-repeat url(/src/Assets/jazmin-quaynor-8ioenvmof-I-unsplash.jpg);
   
}

.welcome{
    font-size: 48px;
    font-weight: 700;
    position: absolute;
    color: #1B4332;
    top: 57%;
    left: 44%;
    transform: translate(-50%,-10%);
}
.secondDiv{
      margin-top: 1em;
    font-size: 38px;
    color: #1B4332;
}
.btn
{
      padding: 1em;
    margin: 2em;
    background: #74C69D;
    color: #1B4332;
    font-size: 20px;
    font-weight: 600;
    border: none;
}
.row {
  display: flex;
  margin-top: 2em;
}

.column {
  flex: 33.33%;
  padding: 5px;
}
.Link{
  color:#74C69D
}
@media screen and (max-width: 768px) {
  .row {
  display: flex;
  margin-top: 2em;
  flex-direction: column;
}
.image{
  width: 50%;
}
.column {
  flex: 100%;
  padding: 5px;
}
}


