.container {
 max-width: 28rem;
    width: 100%;
    margin: 3rem auto;
    padding: 7rem 2.5rem;
    border: none;
    outline: none;
    border-radius: 0.25rem;
    color: black;
         background: #ffffff;
    box-shadow: inset 0 0 3px 1px whitesmoke;
}
.containerR {
 max-width: 32rem;
    width: 100%;
    margin: 0rem auto;
    padding: 0.2rem 2.5rem;
    border: none;
    outline: none;
    border-radius: 0.25rem;
     background: #ffffff;
    box-shadow: inset 0 0 3px 1px whitesmoke;
    color: black;
}
.bg{
 
    width: 100%;
    position: relative;
    text-align: center;
    background: linear-gradient(rgba(0,123,255,.05),rgba(0,0,0,.05)),50%/cover no-repeat url(/src/Assets/un.jpg);
    background-attachment: fixed;
}
.header{
      text-align: center;
    width: 100%;
    margin-top: -0.5em;
    color: #2D6A4F;
    font-weight: 800;
    font-size: 36px;
}
.headerR{
      text-align: center;
    width: 100%;
    margin-top: 0.8em;
    color: #2D6A4F;
    font-weight: 800;
    font-size: 40px;
}
.inputtext {
      font-family: inherit;
    font-size: 1rem;
    font-weight: 400;
    border: none;
    width: 105%;
    padding: 12px;
    margin-left: -7px;
    box-shadow: inset 0 0 3px 1px whitesmoke;
    background: whitesmoke;

}
.label {
  font-weight: 700;
  width: 1;
  width: 100%;
  justify-content: left;
  display: flex;
  margin-left: -3%;
  margin-bottom: 5%;
}
.link {
  color: #40916C;
  margin-left: 2%;
}
.already {
  font-weight: 500;
  margin-top: 7%;
  font-weight: 700;
}
.inputsubmit {
  font-family: inherit;
  font-size: 1rem;
  font-weight: 500;
  line-height: inherit;
  cursor: pointer;
  min-width: 102%;
  padding: 0.65rem 1.25rem;
  border: none;
  color: white;
  background: #40916C;
  margin-top: 17px;
}
.inputcontainer {
  font-family: inherit;
  font-size: 1rem;
  font-weight: 400;
  line-height: inherit;
  width: 100%;
  height: auto;
  padding: 0.75rem 1.25rem;
  border: black;
  outline: none;
  border-radius: 2rem;
  color: black;
}
