   .search {
    width: 42%;
    border-radius: 2em;
    padding: 0.3em;
     background-color: none;
    background-image: url('/src/Assets/search.png');
    background-position: right; 
    background-repeat: no-repeat;
}
.table{
    margin:auto;
}
.medicine{
    margin-top: 2em;
    font-size: 17px;
    color:#1B4332;
    font-weight: 600;
}
.option{
   
    color: #1B4332;
    font-weight: 600;
}
.type{
    margin-top: 2em;
    font-size: 17px;
    color:#1B4332;
    font-weight: 600;
}
.button{
    background: #B7E4C7;
    border: none;
    color: #1B4332;
    font-weight: 600;
}
.button:active{
    background: #40916C;
    border: none;
    color: #1B4332;
    font-weight: 600;

}
.combo{
    display: flex;
   flex-direction: row;
}
.piechart{
    width: 32%;
    margin-top: 5em;
    margin: auto;
    padding-top: 2em;

}
.days{
    /* background: #9fd9b4; */
    border: none;
    font-weight: 600;
    color: #1B4332;
    margin-right: 2em;
}
.button:hover{
    background: #40916C;
    border: none;
    color: #1B4332;
    font-weight: 600;
}
.file{
        margin-left: 1em;
        color: #1B4332;
}

    .chart {
       max-width: 28rem;
    width: 100%;
    margin: 0rem auto;
    padding: 1rem 2.5rem;
    border: none;
    outline: none;
    border-radius: 0.25rem;
    color: black;
    margin-top: 0%;
    background: #ffffff;
    box-shadow: inset 0 0 3px 1px lightgray;
    height: 86%;
    margin-top: 2.5%;
}
.FoodName{
    font-size: 20px;
    font-weight: 500;
}
.add{
        margin-top: 2em;
    width: 8em;
    font-size: 17px;
    font-weight: 700;
    background: #B7E4C7;
    color:#1B4332;
    border:none
}
.add:hover{
    background: #40916C;
    border: none;
    color: #1B4332;
    font-weight: 600;
}